body {
  background-image:url('./image/title1.jpg')
}

h1 {
  color: navy;
  margin-left: 20px;
}

.title {
	text-align: center;
}

h1 {
  color: white;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

h2 {
  border: 3px solid white;
  color: white;
  font-size: 33px;
  line-height: 48px;
  padding: 20px 30px;
  margin: 30px 20px;
  text-align: center;
}

h3 {
  border: 1px solid yellow;
  color: black;
  font-size: 33px;
  line-height: 48px;
  padding: 20px 30px;
  margin: 30px 20px;
  text-align: center;
}

p {
  color: black;
  font-size: 15px;
    line-height: 28px;
  margin-top: 30px;
  padding: 10px 20px;
   text-align: left;

}